node_modules/
*.tsbuildinfo
.idea/
.yarn/unplugged
.pnp.*
package-lock.json
.gradle
ios/Pods/
*.mode1v3
npm-debug.log
.yarn/cache
.vscode/
ios/.env.local
!default.mode1v3
*.hprof
_tests_/
*.sln
.cxx/
*.moved-aside
build/
npm-debug.log*
*.pbxuser
*.hmap
*.keystore
ios/build/
*.iml
!template/.env
.gradle/
Thumbs.db
.yarn/build-state.yml
jest/
android/app/build/
.DS_Store
jest-coverage/
yarn-debug.log*
.env.
ios/DerivedData/
.yarn-integrity
coverage/
*.suo
.yarn/releases
.yarn/plugins
DerivedData
*.log
.yarn/install-state.gz
debug.keystore
jest-cache/
.env
ios/.env.local
Desktop.ini
*.njsproj
*.mode2v3
.xcuserstate
!default.mode2v3
yarn.lock
.moved-aside
*.perspectivev3
.ntvs
watchmanconfig
node_modules/
env.local
.yarn/cache
**/fastlane/Preview.html
yarn-error.log
*.mode2v3
npm-debug.log*
*.hmap
build/
**/Pods/
local.properties
npm-debug.log
.idea
.env
metro-health-check*
**/fastlane/screenshots
fastlane/report.xml
.env.
jest-coverage/
debug.keystore
env.local
fastlane/Preview.html
metro-health-check*
debug.keystore
watchmanconfig
ios/.env.local
node_modules/